h1{
    color: chartreuse;
    text-align: center;
    background-color: blueviolet;
}
h2{
    color: crimson;
    text-align: center;
    background-color: cyan;
}
p{
    color: blueviolet;
    background-color: cyan;
}
h3{
    color: crimson;
}
h4{
    color: crimson;
}
h5{
    color: crimson;
}